@{
    ViewData["Title"] = "Create Categoria";
}

<h1 class="mb-4">Create Categoria</h1> 

<form asp-action="Create" method="post">
    <div class="container">
        <div class="form-group mb-3">
            <label for="catNome" class="form-label">Nome da Categoria</label>
            <input type="text" class="form-control" id="catNome" name="catNome" required />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
