@{
    ViewData["Title"] = "Create Categoria";
}

<h2 class="mb-4">Criar Categoria</h2>
<hr />

<form asp-action="Create" method="post">
    <div class="container">
        <div class="form-group mb-3">
            <label for="catNome" class="form-label">Nome da Categoria</label>
            <input type="text" class="form-control" id="catNome" name="catNome" required />
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Categoria</button>
        <a asp-action="Index" asp-controller="Categoria" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
