@model ProdutoProntoDigital.Models.ProdutoViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<h2 class="mb-4">@ViewData["Ttile"]</h2>
<hr />

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PROD_ID" />
    <div class="container">
        <div class="form-group mb-3">
            <label asp-for="PROD_NOME" class="control-label">Nome do Produto</label>
            <input asp-for="PROD_NOME" class="form-control" required />
            <span asp-validation-for="PROD_NOME" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PROD_PRECO" class="control-label">Preço do Produto</label>
            <input asp-for="PROD_PRECO" class="form-control" type="number" step="0.01" required />
            <span asp-validation-for="PROD_PRECO" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PROD_QTD" class="control-label">Quantidade do Produto</label>
            <input asp-for="PROD_QTD" class="form-control" required />
            <span asp-validation-for="PROD_QTD" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="CAT_ID" class="control-label">Categoria do Produto</label>
            <select asp-for="CAT_ID" class="form-control" asp-items="ViewBag.Categorias"></select>
            <span asp-validation-for="CAT_ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
